# Functions

**Write a function to find the max of three numbers.**

In [1]:


def max():
    n1=int(input("Enter first number:"))
    n2=int(input("Enter second number:"))
    n3=int(input("Enter Third number:"))


    if(n1>=n2) and (n1>=n3):
        large=n1

    elif(n2>=n1) and (n2>=n3):
        large=n2

    else:
        large=n3

    print("Largest number is",large)

max()

Enter first number:4
Enter second number:5
Enter Third number:10
Largest number is 10

**Write a function to sum all the numbers in a list.**

In [2]:
def sum(num):
    total= 0
    for i in num:
        total+= i
    return total

sum1=[1,2,3,4]

print("sum of all numbers:",sum(sum1))

sum of all numbers: 10

 **Write a function to multiply all the numbers in a list.**

In [3]:
def mul(num):
    total= 1
    for i in num:
        total = total*i
    return total

list1=[1,2,3,5]

print("multiply all the numbers:",mul(list1))

multiply all the numbers: 30

**Write a function to reverse a string.**

In [4]:
def my_func(x):
    return x[::-1]

text = my_func("I am Ashwini")

print("Reverse a string:",text)

Reverse a string: iniwhsA ma I

**Write a function to calculte the factorial of a number.**

In [1]:
def factorial(n):
    i=1
    fact = 1
    while i<=n:
        fact*=i
        i+=1
    print("factorial of ",n,"is:",fact)
        
num=int(input("enter any number:"))
factorial(num)

enter any number:4
factorial of  4 is: 24

**Write a Function that accepts a string and calculate the number of uppercase letters and lowercase letters.**

In [2]:
def upper_lower(n):
    x=0
    y=0
    i=0
    while i<len(n):
        if n[i].isupper()==True:
            x+=1
        else:
            y+=1
        i+=1
    print('Uppercase letters: ',x)
    print('Lowercase letters: ',y)

num=input('enter the string: ')
upper_lower(num)

enter the string: Hello python
Uppercase letters:  1
Lowercase letters:  11

**Write a Function that takes a list and returns a new list with unique elements of the first list.**

In [3]:
def unique(n):
    l=[]
    print('List: ',n)
    for i in n:
        if i not in l:
            l.append(i)
    print('Unique elements of list : ',l)

num=input('enter list elements: ').split()
unique(num)

enter list elements: 4 5 7 8 4 9 4 5
List:  ['4', '5', '7', '8', '4', '9', '4', '5']
Unique elements of list :  ['4', '5', '7', '8', '9']