# while loop

**write a program to print "Hello python" ten times**

In [1]:
i=1
while i<=10:
    print(" Hello python")
    i=i+1

 Hello python
 Hello python
 Hello python
 Hello python
 Hello python
 Hello python
 Hello python
 Hello python
 Hello python
 Hello python

**write a program to print number from 1 to 10.**

In [2]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

**write a program to print sum of first ten number**

In [3]:
i=1
sum=0
while i<=10:
    sum=sum+i
    print(sum)
    i=i+1

1
3
6
10
15
21
28
36
45
55

**write a program to print n number entered by the user**

In [4]:
n=int(input('enter the no ='))
i=1
while i<=n:
    print(i)
    i=i+1

enter the no =4
1
2
3
4

**write a program to print of n number**

In [5]:
n=int(input('enter the no ='))
i=1
sum=0
while i<=n:
    sum=sum+i
    print(sum)
    i=i+1

enter the no =5
1
3
6
10
15

**write a program to print table of a number**

In [6]:
n=int(input('enter the no ='))
i=1
while(i<=10):
    print(n,'x',i,'=',n*i)
    i+=1

enter the no =7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

**write a program to calculate the factorial of a number**

In [7]:
n=int(input('enter any number ='))
i=1
fac=1
while(i<=n):
    fac=fac*i
    i=i+1
print(fac)

enter any number =4
24

**write a program to print even number betwwen 1 to 100**

In [8]:
n=2
while(n<100):
    if(n % 2 ==0):
        print(n)
    n=n+2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

**write a program to print odd number betwwen 1 to 100**

In [3]:
n=1
while n <100:
    if(n % 2 !=0):
        print(n)
    n=n+1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99